.app {

}

.app__header {
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.app__logo {
    margin-top: 2em;
}

.app__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__input {
    display: block;
    width: 400px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin: 1em 0;
    font-size: 1.5em;
    padding: 0.2em 0.3em;
}

.app__input:focus {
    outline: none;
    border-bottom-color: #8C3130;
}

.app__start-button {
    border: none;
    cursor: pointer;
    font-size: 2em;
    color: #8C3130;
}

.app__footer {
    display: flex;
    justify-content: center;
}

.app__start-button--test {

}
